@font-face {
  font-family: 'GilroyExtraBold';
  src: local('GilroyExtraBold'),
    url(./fonts/Gilroy-ExtraBold.otf) format('truetype');
}

@font-face {
  font-family: 'GilroyLight';
  src: local('GilroyLight'), url(./fonts/Gilroy-Light.otf) format('truetype');
}

* {
  font-family: GilroyLight;
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
